@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Global Variables */

:root {
    --background: #fcfcfc;
    --light-background: #f1f3f5;
    --font-color: #686868;
    --light-font-color: #868e96;
    --heading-color: #495057;
    --primary: #275EFE;
}


/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Scaffolding */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    color: var(--font-color);
    background-color: var(--background);
}

section {
    margin: 2rem 0;
}

section>h2 {
    margin-top: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--heading-color);
    line-height: 1.3;
}

blockquote,
dl,
ol,
p,
table,
ul {
    font-size: 1.05rem;
    margin: 0 0 1.5rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid--gutters {
    margin: -1em 0 0 -1em;
}

.grid--gutters>.col,
.grid--gutters>.col-2 {
    padding: 1em 0 0 1em;
}

.col {
    flex-basis: 100%;
}

.col-2 {
    flex-basis: 50%;
}

.col-3 {
    flex-basis: 33%;
}

@media screen and (min-width: 620px) {
    .col {
        flex: 1;
    }
    .col-1-of-2 {
        flex: 0 0 50%;
    }
    .col-1-of-3 {
        flex: 0 0 33%;
    }
    .col-1-of-5 {
        flex: 0 0 20%;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 1.1rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 600;
    }
}


/* NabVar */

nav .container {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.link-home {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--font-color);
}

.link-home .text {
    display: none;
}

.link-home .favicon {
    width: 30px;
    height: auto;
    margin-right: 12px;
}

.links-nav a {
    color: var(--font-color);
    padding: .5rem;
    border-radius: 6px;
    margin-right: 16px;
}

.links-nav a:last-of-type {
    margin-right: 0;
}

.links-nav a:hover,
.links-nav a.active {
    background-color: rgba(0, 0, 0, 0.034);
}

@media screen and (min-width: 800px) {
    nav .container {
        height: 120px;
    }
    .link-home .text {
        display: inline-block;
    }
    .links-nav a {
        padding: .75rem;
    }
}


/* Post List */

.post-list {
    margin-right: -1rem;
    margin-left: -1rem;
}

.post-list__link {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 8px;
    border-radius: 6px;
    transition: background-color .2s;
}

.post-list__link:hover {
    background-color: var(--light-background);
}

.post-list a {
    color: var(--heading-color);
}

.post-list__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}

.post-list__meta {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
}

.post-list__meta .post-date {
    flex: 1;
}

a.post-tags__link {
    font-weight: 400;
    background: #edf2ff;
    color: var(--primary);
    margin: .2rem;
    padding: .4rem .5rem;
    font-size: .7rem;
    border-radius: .3rem;
    border-bottom: 0;
    white-space: nowrap
}


/* Post View*/

.post.content-box {
    margin-bottom: 30px;
}

.post-header {
    margin-bottom: 1rem;
    text-align: center;
}

.post-header h1 {
    margin-bottom: 14px;
    font-size: 2rem;
}

.meta-dot {
    margin: 0 10px;
}

@media screen and (min-width: 800px) {
    .post-header h1 {
        font-size: 2.5rem;
    }
}

.post__header {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    margin-top: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
}

.post__header img {
    width: 100%;
}

.post__header:empty {
    display: none;
}

.post__content h2:first-child {
    margin-top: 0;
}

.post__content ul,
.post__content ol {
    margin-left: 1.2rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.55rem;
    list-style-position: outside;
    list-style-image: none;
}

.post__content blockquote {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #e4e1f8;
    border-radius: .3rem;
    border: 0 solid var(--primary);
    border-left-width: 8px;
}

.post__content blockquote ol,
.post__content blockquote ol {
    color: #5a5858;
}

.post__content blockquote blockquote {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post__content blockquote p {
    margin: 0;
    color: #5a5858;
}

.post__content p:first-of-type {
    font-size: 1rem;
}

.post__content img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.post__content h2 a,
.post__content h3 a,
.post__content h4 a {
    color: var(--heading-color);
}

.info-post {
    display: flex;
    padding: 10px 0 20px 0;
    align-items: center;
    color: #495057;
    font-size: .85rem;
    justify-content: center;
}

.info-post .info-data p {
    margin-bottom: 0;
}

.info-post .meta-post {
    display: flex;
    flex-wrap: wrap;
}

.info-post span.time-lecture {
    font-weight: 700;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-nav__next {
    margin-right: -.75rem;
}

.post-nav__previous {
    margin-left: -.75rem;
}

.post-nav__previous,
.post-nav__next {
    padding: .5rem .75rem;
    border-radius: 6px;
    font-size: .85rem;
}

.post-nav__previous:hover,
.post-nav__next:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

@media screen and (min-width: 800px) {
    .post-nav__previous,
    .post-nav__next {
        font-size: 1rem;
    }
}

.post-footer {
    margin: 2rem 0;
}

a.link-edit-page svg {
    margin-right: 12px;
}

.post-footer .post-tags {
    margin: 1.5rem 0;
}


/* Footer */

.footer {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: .85rem;
}

.footer a {
    color: var(--font-color);
    margin-right: 12px;
}

.footer .links-nav a.active {
    background-color: transparent;
}

.external-links a img {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 800px) {
    .footer {
        font-size: 1rem;
        height: 120px;
    }
}


/* 404 */

.page-404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-404 h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

.page-404 h2 {
    font-size: 1.75rem;
    text-align: center;
    color: var(--primary);
}


/* Blog */

.blog p,
.tag p {
    font-size: 1.2rem;
}

.tag p span {
    color: var(--primary);
    font-weight: 500;
}

@media screen and (min-width: 800px) {
    .blog p {
        font-size: 1.3rem;
    }
}


/* Buttons */

.button {
    font-weight: 500;
    padding: .75rem 1rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 6px;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* Card */

.card {
    border-radius: 6px;
    padding: 1.5rem;
    transition: transform .3s;
}


/*Project Card */

.project {
    text-align: center;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
}

.project h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.project p {
    font-size: .9rem;
}

.mx-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Colors Gradient */

.gradient-blue {
    background: rgb(0, 87, 223);
    background: linear-gradient(45deg, var(--primary), #66A6FF);
}

.gradient-blue h3,
.gradient-blue p {
    color: #fff;
}


/* Target */

.target {
    text-align: center;
    margin: .5rem;
    transition: transform .2s;
}

.target p {
    margin-bottom: 0;
    font-weight: 500;
}

.target:hover {
    transform: scale(1.1);
}


/* Inputs */

input {
    outline: none;
}

[type='search'] {
    display: block;
    padding: .8rem 1rem;
    border: 2px solid #d6d9de;
    width: 100%;
    max-width: 400px;
    border-radius: .3rem;
    font-size: 1rem;
    -webkit-appearance: none;
}

[type='search']:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(158, 195, 255, 0.43);
}


/* Author */

.author div p:first-of-type {
    font-size: 1.15rem;
}

@media screen and (min-width: 800px) {
    .author div p:first-of-type {
        font-size: 1.3rem;
    }
}

.author img {
    display: none;
}