.author {
    display: flex;
    align-items: center;
    & .author_img {
        display: none;
    }
    @include small-breakpoint {
        & .author_img {
            display: inline-block;
        }
    }
}