.footer {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;
    }
    a {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        display: block;
        margin-right: 1.5rem;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .footer-img {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
}

@include small-breakpoint {
    .footer {
        margin: 60px auto;
        height: 100px;
    }
}