/*Colors*/

$background: #fcfcfc;
$font-color: #495057;
$heading-color: #495057;
$primary: #275EFE;
$secondary-color: rgb(255, 90, 95);
$error: #d33c40;
$primary-dark: darken($primary, 50%);
$primary-light: lighten($primary, 50%);
$link-color: $primary;

/* Breakpoints */

$mobile: 420px;
$phablet: 580px;
$tablet: 750px;
$width: 800px;

/* Font Size */

$font-size: 1.1rem;
$font-size-mobile: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$line-height: 1.5;
$font-family: 'Roboto',
Helvetica,
sans-serif;

/* Heading */

$heading-font-weight: 500;
$heading-font-family: 'Roboto',
Helvetica,
Arial,
sans-serif;
$heading-line-height: 1.3;
$h1-line-height: 1.1;
// Heading font size
$h1: 3rem;
$h2: 2.3rem;
$h3: 1.85rem;
$h4: 1.5rem;
$h5: 1.4rem;
// Mobile heading font size
$h1-mobile: 2.5rem;
$h2-mobile: 1.8rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.3rem;
$h5-mobile: 1.2rem;
$border-width: 1px;

/* Responsive */

@mixin mobile-breakpoint {
    @media screen and (min-width: #{$mobile}) {
        @content;
    }
}

@mixin phablet-breakpoint {
    @media screen and (min-width: #{$phablet}) {
        @content;
    }
}

// Break on desktop
@mixin tablet-breakpoint {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}